/packages
/.vs
/Api/obj
/Api/bin
/Client/obj
/Client/bin
/ConsoleApp1/obj
/ConsoleApp1/bin
/IdentityServerDemo/obj
/IdentityServerDemo/bin
/QuickstartIdentityServer/obj
/QuickstartIdentityServer/bin
/IdentityS4/obj
/IdentityS4/bin
